.InnerFeed {
  margin: 0 auto;
  max-width: 1280px;

  display: flex;
  justify-content: space-between;
}
.classWidth {
  width: 504px;
}
@media screen and (max-width: 1280px) {
  .InnerFeed {
    max-width: 90vw;
  }
}
