.TypesOfIngredients{
    max-width: 600px;
    box-sizing: border-box;
}
.typesBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 16px 40px 16px;
     
}
 
.type{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.type:nth-child(2n){
    margin-left: 24px;
}
.nameOfType{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.h2{
 
    width: 600px;
    height: 30px;
    
    /* desktop/display small */
    
    font-weight: 700;
    font-size: 24px;
    
    color: #F2F2F3;
}
.Counter{
    left: 0;
    bottom: 0;
}
.typesImg{
    position: relative;
    width: 240px;
    height: 120px;
    text-align: center;
}
.typeName{
 
    height: 48px;
    
    font-size: 16px;
    line-height: 24px;
    
    text-align: center;
    
    color: #F2F2F3;
}
.priceBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
}
 
.CurrencyIcon{
    width: 22px;
    height: 22px;
}