.ResetPasswordInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  .ResetPasswordInnerHeader {
    height: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: white;
    margin-bottom: 24px;
  }
  .mbInput {
    margin-bottom: 24px;
  }
  .option{
      color: #8585ad;
      text-decoration: none;
      margin-top: 80px;
  
      display: flex;
  }
  .option a{
      text-decoration: none;
      color: #4C4CFF;
  }

  @media screen and (max-width: 768px) {
    .option {
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width: 375px) {
    .ResetPasswordInner {
      padding: 0 2.5vw;
      margin-top: 25px;
    }
    div.mbInput div,
    .ResetPasswordInnerHeader {
      max-width: 95vw;
    }
    .ResetPasswordInnerHeader {
      text-align: center; 
    }
    .option {
      margin-top: 40px;
    }
  }
  
  