.RegisterInner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
.registrationHeader {
  height: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: white;
  margin-bottom: 24px;
}
.mbInput{
  margin-bottom: 24px;
} 
.option{
    color: #8585ad;
    text-decoration: none;
    margin-top: 80px;

    display: flex;
}
.option a{
    text-decoration: none;
    color: #4C4CFF;
}
.boxInputs{
  composes: RegisterInner;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .option {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 375px) {
  div.mbInput div{
    max-width: 95vw; 
  }
  .RegisterInner { 
    margin-top: 20px;
  }
  .registrationHeader { 
    margin-bottom: 15px;
  }
  .option{ 
    margin-top: 40px; 
}
}
