.boxLogo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer; 

  
}
.logo { 
  display: flex;
  align-items: center;
  justify-content: center; 
  z-index: 1;
}
@media screen and (max-width: 1280px) {
    .logo svg{
        width: 23vw;;
    } 
}
@media screen and (max-width: 768px) {
    .logo svg{
        width: 50vw;
    } 
}
@media screen and (max-width: 375px) {
  .boxLogo {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    overflow: hidden;
  } 
}