.box_logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.logo{
    position: absolute;
    width: 289.15px;
    height: 40px;
   
    /* interface/modal-bg */
    
    background: #1C1C21;
    /* interface/accent */
 
    display: flex;
    align-items: center;
}
 