.IngredientDetails{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 520px;
    color: #8585AD;
    margin-bottom: 20px;
}
.ingredientName{ 
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
    color: white;
}
.img{

}
.infoBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.infoBoxP{
    text-align: center;
}