.headerOnMain {
  width: 1280px;
  margin: 0 auto;
}
.childrenH {
  height: 40px;
  font-weight: 700;
  font-size: 36px;
  color: #f2f2f3;
  margin-bottom: 20px;
}
@media screen and (max-width: 1280px) {
  .headerOnMain{
    width: 90%;
    margin-left: 10vw;
  }
}
@media screen and (max-width: 375px) {
  .headerOnMain{
    width: 100%; 
    margin-bottom: 15px;
    margin-left: 0;
    text-align: center;
  }
  .childrenH {
    width: 95vw;
  }
}
