.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 400px;
}
.internalPreloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  max-width: 600px;
  max-height: 600px;
}
.svg {
  width: 100px;
  height: 100px;
  animation: 2s infinite;
  animation-timing-function: linear;
  position: absolute;
  border-radius: 50%;
}
.blue {
  animation-name: blue;
  transform: rotate(120deg);
}
.purple {
  animation-name: purple;
  transform: rotate(360deg);
}
.mixColor {
  animation-name: mix-color;
  transform: rotate(240deg);
}
circle {
  fill: none;
  stroke-dashoffset: 84;
  stroke-dasharray: 84;
  stroke-linecap: round;

  cy: 50px;
  cx: 50px;
}

.blue circle {
  stroke: #4c4cff;
  filter: drop-shadow(0 0 10px #4c4cff);

  r: 40px;
  stroke-width: 2px;
}
.purple circle {
  filter: drop-shadow(0 0 10px #801ab3);
  stroke: #801ab3;

  r: 25px;
  stroke-width: 2px;
}
.mixColor circle {
  filter: drop-shadow(0 0 10px #6633d9);
  stroke: #6633d9;

  r: 20px;
  stroke-width: 2px;
}

@keyframes blue {
  0% {
    transform: rotate(120deg);
  }

  100% {
    transform: rotate(480deg);
  }
}
@keyframes purple {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes mix-color {
  0% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
