.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  width: 100vw;
  height: 100vh;    

  z-index: 20;

  background: #131316;
}
.svg {
  width: 400px;
  height: 400px;
  animation: 2s infinite;
  animation-timing-function: linear;
  position: absolute;  
  border-radius: 50%;
}
.blue {
  animation-name: blue;
  transform: rotate(120deg);
}
.purple {
  animation-name: purple;
  transform: rotate(360deg);
}
.mixColor {
  animation-name: mix-color;
  transform: rotate(240deg);
}
circle {
  fill: none;
  stroke-dashoffset: 314;
  stroke-dasharray: 314;
  stroke-linecap: round;
  
  cy: 200px;
  cx: 200px; 
  stroke-width: 4px;
}

.blue circle {
  stroke: #4c4cff;
  filter: drop-shadow(0 0 10px #4c4cff);

  r: 120px;
  stroke-width: 10px;
}
.purple circle {
  filter: drop-shadow(0 0 10px #801ab3);
  stroke: #801ab3;

  r: 100px;
  stroke-width: 10px;
}
.mixColor circle { 
  filter: drop-shadow(0 0 10px #6633d9);
  stroke: #6633d9;

  r: 80px;
  stroke-width: 10px;
}

@keyframes blue {
  0% {
    transform: rotate(120deg);
  }

  100% {
    transform: rotate(480deg);
  }
}
@keyframes purple {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes mix-color {
  0% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
 