header{
    box-sizing: border-box;
     
    height: 88px;
 
    /* interface/modal-bg */

    background: #1C1C21;
    /* interface/accent */
 
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

