.li{
    display: flex;
    align-items: center; 
    list-style-type: none;
} 
.ISvg{
    height: 25px;
    width: 25px;
}
.activeClassName{
    color: white;
}
.activeClassName li{
    color: white;
}
.activeClassName li i svg{ 
    fill: white
}