.MenuButton{ 
    width: 40px;
    height: 25px;
  
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.layer{ 
  width: 40px;
  height: 6px;
  background: white;
}