.list {
  margin-bottom: 40px;
  max-width: 600px;
  display: flex;
}
.list div {
  width: calc(100% / 3);
}
@media screen and (max-width: 1280px) {
  .list {
    width: 40vw;
    max-width: 40vw;
  }
}
@media screen and (max-width: 375px) {
  .list {
    width: 95vw;
    max-width: 95vw;
  }
  .list div {
    width: calc(95vw / 3);
    min-width: auto;
    padding: 1vw;
  }
}